@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

body {
  background: linear-gradient(to right, rgb(0, 92, 151), rgb(54, 55, 149));
  color: #fff;
  height: 100vh;
  text-align: center;
}

a {
  color: #fff;
  text-decoration: none;
  transition: .2s color;
}

a:visited,
a:active {
  color: #fff;
}

a:hover,
a:focus {
  color: #dfdfdd;
}

.container {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.socials {
  font-size: 7rem;
  padding: 30px 0;
}

.social-icon {
  padding: 0 10px;
}

.links {
  font-size: 3em;
  font-weight: 900;
  margin-bottom: 25px;
}

.link-item {
  padding: 0 20px;
}

.email {
  display: block;
  font-size: 1.2em;
  line-height: 1.7;
}